.movie-list-container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.ml-item {
  height: 600px;
  width: 400px;
  text-align: center;
  background-color: lightgray;
}

.error {
  font-size: 60px;
  color: red;
}
